@import "tailwindcss";

/*Instead tailwind.config.js*/
@theme {
  --breakpoint-*: initial; /*this override default breakpoints*/
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
  --color-blue: #1fd;
  --color-orange-500: #ffa500; /*override the color which had this name*/
}

#hero {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url(../images/mobile/image-hero.jpg);
    background-position: center;
  }
}
